.navbar{
    background-color: #343a40;
}
.navbar-brand{
    color: rgb(253,206,206) !important;
}
.nav-link:hover{
    color: rgb(253,206,206) !important;
}
.menu_active{
    font-weight: bold;
    border-bottom: 1px solid hotpink;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset:utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,128,0,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22' /%3E%3C/svg%3E");
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-shadow{
    margin-bottom: 20px;
    box-shadow: 0 5px 40px -10px rgba(0,0,0,.5);
    border-radius: 4px;
    overflow: hidden;
    padding: 25px 15px;
    border-width: 0;
}